body {
    margin: 0;
    background: linear-gradient(45deg, black, transparent);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; 
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; 
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); 
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.main{
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
margin:100px 400px 100px 400px;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 45px;
}

#he{
font-size:15px;
margin:30px 10px 10px 10px;
}
#input1{
  border: 2px solid black;
  margin: 0px 10px 0px 10px;
  background-color: #ffffff;
}
#p1{
margin: 10px 10px 0px 10px;
}
#input2{
  border: 2px solid black;
  margin: 0px 10px 0px 10px;
  background-color: #ffffff;
}
#p2{
margin: 10px 10px 0px 10px;
}
#add{
  border: 2px solid black;
  border-radius: 25px;
  margin: 0px 0px 0px 10px;
  background-color: #ffffff;
  text-color: black;
}
#output1{
  border: 2px solid black;
  margin: 15px 10px 0px 10px;
  background-color: #ffffff;
}
#p3{
margin: 0px 10px 0px 10px;
}

.site-footer {
  align:center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }
           
